.input {
    @include placeholder {
        color: white;
    }
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 47px;
    border: 2px solid white;
    outline: none;
    display: inline-block;
    color: white;
    font-family: "SegoeUI", sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 0 25px;
    height: 94px;
    width: 100%;

    @include media (w1024) {
        border-radius: 36px;
        padding: 0 20px;
        height: 72px;
    }

    @include media (w768) {
        border-radius: 25px;
        padding: 0 20px;
        height: 50px;
    }

    &_city {
        background-image: url("../img/input-map.png");
        background-position: 20px center;
        padding-left: 60px;
    }

    &_phone {
        background-image: url("../img/input-phone.png");
        background-position: 20px center;
        padding-left: 55px;
    }
}

.select {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 40px;
    border: 2px solid #d7d7d7;
    outline: none;
    display: inline-block;
    color: #6b6b6b;
    font-family: "PFHandBookPro", sans-serif;
    font-size: 36px;
    padding: 0 35px;
    height: 80px;

    @include media (w1024) {
        border-radius: 32px;
        font-size: 30px;
        height: 64px;
    }

    @include media (w768) {
        border-radius: 25px;
        font-size: 25px;
        padding: 0 20px;
        height: 50px;
    }
}