h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0.5em;
}

.text {

    &_xs {
        font-size: 22px;

        @include media(w768) {
            font-size: 18px;
        }
    }

    &_s {
        font-size: 26px;
    }

    &_m {
        font-size: 29px;

        @include media(w768) {
            font-size: 22px;
        }
    }
    
    &_l {
        font-size: 31px;
    }
    
    &_xl {
        font-size: 36px;

        @include media(w768) {
            font-size: 18px;
        }
    }
    
    &_xxl {
        font-size: 49px;

        @include media(w1024) {
            font-size: 37px;
        }

        @include media(w768) {
            font-size: 24px;
        }
    }
}

h1 {
    font-size: 84px;

    @include media(w768) {
        font-size: 42px;
    }
}
h2 {
    font-weight: 800;
    font-size: 60px;

    @include media(w1024) {
        font-size: 42px;
    }

    @include media(w768) {
        font-size: 26px;
    }
}
h3 {
    font-weight: 800;
    font-size: 46px;

    @include media(w768) {
        font-size: 23px;
    }
}