footer.footer
    div.container.footer__container
        div.footer__block.footer__block_social
            p.footer__text.footer__text_copy.
                © 2017, «Уномоменто»
            div.footer__social
                p.footer__text.footer__text_social-title.
                    Мы в соц. сетях
                ul.footer__social-list
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__link_social
                            i.fa.fa-vk
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__link_social
                            i.fa.fa-facebook
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__link_social
                            i.fa.fa-tripadvisor
        div.footer__block.footer__block_contacts
            p.footer__text.footer__text_adress.
                Наш офис: Пермь, ул. Шоссе Космонавтов, 111, корпус 2
            div.footer__contacts
                a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                    Политика конфиденциальности
                p.footer__text
                    |e-mail:
                    a(href="mailto:uno@uno-perm.ru").footer__link.
                        uno@uno-perm.ru
        div.footer__block.footer__block_feedback
            a(href="tel:89218450907" data-phone="89218450907").footer__phone.
                +7(921)845-09-07
            a().footer__link.footer__link_getcall.js-small-btn.
                Заказать звонок