header.header
    div.container.header__container
        div.header__item.header__item_logo
            a(href="/").header__logo
                img(src="img/header-logo.jpg", alt="").header__logo-img
                span.
                    Итальянская химчистка<br> с доходом 24 млн рублей в год
        div.header__item.header__item_contacts
            a(href="tel:88006005030" data-phone="88006005030").header__link.phone.phone_white.
                8 800 600 50 30
            a().header__link.link.link_getcall.js-small-btn.
                Заказать звонок