section.sec.sec1
    include header
    div.container.color-white.ta-center
        p.text.text_xl.italic.ff-ptserif.
            Откройте химчистку с самым широким спектром услуг в городе
        h1.black.mb1.
            Зарабатывайте 2 миллиона рублей в месяц
        a().btn-round.js-small-btn.btn-round_white.btn-round_download.
            Скачать презентацию