section.sec.sec2
    div.container
        div.sec2__text
            p.text.text_s.ff-ptserif.bold.
                По словам экспертов
            h3.
                В городах с населением от 200 000 человек потенциал услуг химчисток и прачечных равен
            div.sec2__bigtext.tt-uppercase.
                50 млн рублей
            p.text.text_xs.mb1.
                Люди регулярно пользуются услугами химчисток для стирки сложных вещей. Крупные компании также делают корпоративные заказы.
            p.text.text_xs.mb1.
                Эксперты подтверждают, спрос на стирку и чистку одежды и интерьерного текстиля значительно превышает предложение: на каждые 100 000 - 150 000 человек в Москве приходится всего 1 химчистка, а по всей России этот показатель еще ниже.
            div.sec2__note
                p.text.text_m.medium.
                    Потребность в услугах химчисток ежегодно растет. Вопрос лишь в том, кто займёт эти ниши.
                a().text.text_m.color-green.sec2__link.js-small-btn.
                    Узнать подробнее о спросе
    img(src="img/sec2-bg-half.jpg", alt="").sec2__img-pc


