section.sec.sec3
    div.container
        div.sec3__block
            h3.black.
                «Уномоменто» – лидер в сфере услуг чистки вещей в Пермском крае
            p.text.text_xs.mb2.
                Наша сеть состоит из 7 химчисток и 80 пунктов приёма вещей. Каждый филиал оказывает полный спектр услуг.
            div.sec3__list-container
                div.sec3__list
                    div.sec3__list-item
                        img(src="img/sec3-img1.png", alt="").sec3__list-img
                        p.sec3__list-text.mb0.
                            Химическая чистка, АКВА- и БИО-чистка
                    div.sec3__list-item
                        img(src="img/sec3-img2.png", alt="").sec3__list-img
                        p.sec3__list-text.mb0.
                            Чистка подушек с заменой наперника
                    div.sec3__list-item
                        img(src="img/sec3-img3.png", alt="").sec3__list-img
                        p.sec3__list-text.mb0.
                            Чистка и подкрас кожаной обуви, сумок и ремней
                    div.sec3__list-item
                        img(src="img/sec3-img4.png", alt="").sec3__list-img
                        p.sec3__list-text.mb0.
                            Стирка белья
                    div.sec3__list-item
                        img(src="img/sec3-img5.png", alt="").sec3__list-img
                        p.sec3__list-text.mb0.
                            Услуга хранения меховых и кожаных в специальном холодильнике
                    div.sec3__list-item
                        img(src="img/sec3-img6.png", alt="").sec3__list-img
                        p.sec3__list-text.mb0.
                            Ремонт и пошив одежды
                div.sec3__btn-wrap
                    a().btn-round.js-small-btn.
                        Скачать презентацию
                img(src="img/sec3-bg.jpg", alt="").sec3__img-phone
    img(src="img/sec3-bg.jpg", alt="").sec3__img-pc