section.sec.sec4
    div.container.color-white
        div.sec4__text
            p.text.text_xs.
                Мы растём, делая ставку на безупречный сервис, и снимаем все заботы о чистоте вещей с клиента. Достаточно просто доставить нам изделие – остальное делаем мы. 
            p.text.text_xs.
                Нам доверяют частные клиенты и такие корпоративные гиганты, как РЖД, ГАЗПРОМ и ЛУКОЙЛ.
            p.text.text_m.medium.
                Что приносит нам в среднем <span class="bold sec4__border-text">2 000 000 рублей</span> в месяц
        div.sec4__img-phone-container
            img(src="img/sec4-bg-phone.jpg", alt="").sec4__img-phone
