section.sec.sec5
    div.container.ta-center
        h3.
            Хотите получать такой же доход?
        p.text.text_l.bold.mb1.
            Мы поможем вам открыться и занять лидирующую позицию в городе
        p.text.text_xs.mb3.
            Партнёр «Уномоменто» получает франшизу, в состав которой входят все важные компоненты для успеха будущего дела:
        div.sec5__list
            div.sec5__list-item
                div.sec5__list-circle
                    img(src="img/sec5-img1.svg", alt="").sec5__list-img.sec5__list-img_1
                p.sec5__list-text.
                    Запоминающийся<br> бренд
            div.sec5__list-item
                div.sec5__list-circle
                    img(src="img/sec5-img2.svg", alt="").sec5__list-img.sec5__list-img_2
                p.sec5__list-text.
                    Пошаговый план открытия химчистки
            div.sec5__list-item
                div.sec5__list-circle
                    img(src="img/sec5-img3.svg", alt="").sec5__list-img.sec5__list-img_3
                p.sec5__list-text.
                    Готовые рекламные материалыи акции
            div.sec5__list-item
                div.sec5__list-circle
                    img(src="img/sec5-img4.svg", alt="").sec5__list-img.sec5__list-img_4
                p.sec5__list-text.
                    Документы, инструкции и методические материалы
            div.sec5__list-item
                div.sec5__list-circle
                    img(src="img/sec5-img5.svg", alt="").sec5__list-img.sec5__list-img_5
                p.sec5__list-text.
                    Помощь в найме и обучении сотрудников
            div.sec5__list-item
                div.sec5__list-circle
                    img(src="img/sec5-img6.svg", alt="").sec5__list-img.sec5__list-img_6
                p.sec5__list-text.
                    Помощь в подключениии обслуживании оборудования