section.sec.sec6
    div.container.ta-center
        p.text.text_l.bold.
            Мы сэкономим больше полугода вашего личного времени на старте
        p.text.text_xs.mb2.
            А в процессе работы обеспечим юридическую, маркетинговую и бухгалтерскую поддержку – которая продолжит экономить ваше время и деньги
        a().btn-round.js-small-btn.
            Скачать презентацию
