section.sec.sec7
    div.container.ta-center
        h3.mb1.
            Первый шаг к 20-миллионному годовому обороту на услугах химчистки – приобретение франшизы
        p.text.text_l.bold.mb2.
            Вам потребуется:
        div.sec7__list
            div.sec7__list-item
                p.sec7__list-title.black.tt-uppercase.color-green.
                    750 000 руб
                p.text.text_xs.
                    паушального взноса для открытия бизнеса под брендом «Уномоменто» и получения всех инструментов для успешной работы
                img(src="img/sec7-img1.jpg", alt="").sec7__list-img
            div.sec7__list-item
                p.sec7__list-title.black.tt-uppercase.color-green.
                    5,34 млн руб
                p.text.text_xs.
                    на подготовку помещения, оборудование и рекламу
                img(src="img/sec7-img2.jpg", alt="").sec7__list-img
        div.sec7__note
            div.sec7__note-text
                img(src="img/sec7-icon.png", alt="").sec7__note-img
                p.text.text_xs.mb0.
                    Посмотрите показатели наших продаж и окупаемости в финансовой модели:
            a().btn-round.js-small-btn.sec7__btn.
                Скачать финансовую модель