section.sec.sec8
    div.container.color-white.ta-center
        h2.
            Чтобы стать владельцем прибыльной химчистки, не нужно знать о химчистке всё
        p.text.text_xl.italic.ff-ptserif.mb2.
            Мы научим вас стратегическому планированию и управлению бизнесом в данной сфере
        include bottom-form